<?xml version="1.0"?>
<config>
    <modules>
        <Edge_ReportUnsoldProducts>
            <version>1.0.0</version>
        </Edge_ReportUnsoldProducts>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unsold before="Mage_Adminhtml">Edge_ReportUnsoldProducts_Adminhtml</unsold>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <unsold>
                    <file>edge/reportunsoldproducts.xml</file>
                </unsold>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <unsold>
                <class>Edge_ReportUnsoldProducts_Block</class>
            </unsold>
        </blocks>
        <helpers>
            <unsold>
                <class>Edge_ReportUnsoldProducts_Helper</class>
            </unsold>
        </helpers>
    </global>
</config>